
Tema1/Tema1/bin/Debug/automaton_output.txt
Tema1/.vs/Tema1/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
Tema1/.vs/Tema1/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
Tema1/.vs/Tema1/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
Tema1/.vs/Tema1/v17/.suo
Tema1/.vs/Tema1/v17/DocumentLayout.json
Tema1/.vs/Tema1/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
Tema1/.vs/Tema1/v17/.suo
Tema1/.vs/Tema1/v17/DocumentLayout.json
